# Latex stuff 
rapport/*.log
rapport/*.pdf
rapport/*.aux
rapport/*.toc
rapport/*.synctex.gz

#contiki stuff, and C stuff
src/contiki-native.a
src/obj_native/*
src/symbols.c
src/symbols.h
src/messages/*
